<h1> Commands </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Commande Number</th>
        <th>Commande Date</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!--   for (Todo todo: todos) {  -->
              <tr *ngFor="let commande of commandes">
                <td>{{commande.numeroCommande}}</td>
                <td>{{commande.dateCommande | date | uppercase}}</td>
                <td>{{commande.description}}</td>
                <td><button (click)="updateTodo(commande.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteTodo(commande.id)" class="btn btn-warning">Delete</button></td>
              </tr>
      <!-- } -->
    </tbody>

  </table>

  <div class="row">
      <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>

</div>